---
layout: page
title: "Under The Bed"
---
<ul>
  {% for post in site.posts %}

    {% unless post.next %}
      <h3 >{{ post.date | date: '%Y' }}</h3>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h3 class="new_trim_dropdown">{{ post.date | date: '%Y' }}</h3>
      {% endif %}
    {% endunless %}

    <li>{{ post.date | date:"%b" }} <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}

</ul>
<script>
$(document).on("click", ".new_trim_dropdown", function(event){
    event.stopPropagation();
	if($(event.target).is($(this).children()))
	{
		$(this).children('.new_trim_values').toggle();
		$(this).parents(".new_result").siblings(".new_result").find('.new_trim_values').hide();
	}

});

$(document).on('click',function() {
    $('.new_trim_values').hide();
});
</script>




