---
layout: default
title: Home
---
<div class="intro">
<h2 class="post-title">Welcome!</h2>
The West Coast Washing Machine is a music blog dedicated to bringing you the freshest tunes. Spun dried, pressed and folded for your listening pleasure.


  </div>


<div class="posts">
  {% for post in paginator.posts %}

  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>
    {{ post.content }}

    {% assign author = site.data.authors[author] %}
    <span class="post-date">
      Written by <a href="{{ author.web }}" target="_blank">{{ post.name }}</a> on {{ post.date | date_to_long_string }}.
    </span>
      <c>
        <div class="mainButton">
    <span class="comment">
        {% if paginator.next_page %}
    <a class="comment" href="/page{{paginator.next_page}}">
        <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x fa-inverse"></i>
            <i class="fa fa-arrow-left fa-stack-1x"></i></span>
        </a>
  {% else %}
    <span class="comment"><span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x fa-inverse"></i>
            <i class="fa fa-arrow-left fa-stack-1x"></i></span></span>
  {% endif %}
        <a href="{{ post.url }}">
       <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x fa-inverse"></i>
        <i class="fa fa-comment fa-stack-1x"></i></a>
        </span>
        {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="comment" href="/"><span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x fa-inverse"></i>
            <i class="fa fa-arrow-right fa-stack-1x"></i></span></i></a>
    {% else %}
      <a class="comment" href="/page{{paginator.previous_page}}"><span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x fa-inverse"></i>
            <i class="fa fa-arrow-right fa-stack-1x "></i></span></a>
    {% endif %}
  {% else %}
    <span class="comment"><span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x fa-inverse"></i>
            <i class="fa fa-arrow-right fa-stack-1x"></i></span></span>
  {% endif %}
    </span></br></c></div>
   </div>
  {% endfor %}


</div>

<div class="intro">
 <h2 class="post-title">Featured Mix </h2>
  <!-- Soundcloud embed code for the featured mix section -->
              {% for post in site.categories.featuredmix limit:1 %}
                <h5>{{ post.title }}</h5>
              {{ post.content }}
              <a href="{{ post.url }}">
               Read more...
              </a>
              {% endfor %}

  </div>


<div class="outro">
  <c><h2 class="post-title">Gallery</h2></c>
 A collection of images taken directly from our instagram gallery tag your photos as #WCWM to get them featured on the home page!
  {% assign url = '{{image}}' %}
<script type="text/javascript">


    var feed;

feed = new Instafeed({
  clientId: '7653cbf7ee5949489bda8eae8d118f2c',
  get: 'tagged',
  tagName: 'lycrabeats',
  resolution: 'low_resolution',
  limit: 1,
  template: '<li id="instafeed"><img src="{{url}}"/></li>',
      });
    feed.run();
</script>

<script>
  $(function() {
    $('.banner').unslider();
});
  </script>
<!-- SnapWidget -->
<iframe src="http://snapwidget.com/in/?u=bHljcmFiZWF0c3xpbnwxMjV8M3wzfHxub3w1fGZhZGVJbnxvblN0YXJ0fHllcw==&v=5614" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:390px; height:130px"></iframe>


</div>


