
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">By Serena</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="hats/index.html">Hats</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            {{ content }}
          </div>

          